body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}
h1{
  font-size: 50px;
}

h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
.primary-text{
  color: orange;
}

.container{
  display: flex;
  background-image: url(/img/top-banner.png);
  background-repeat: no-repeat;
}

.half{
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.half img{
  width: 100%;
}

.button{
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(salmon,tomato,red);
  color: whitesmoke;
  border-radius: 5px;
}

.dream-big{
  display: flex;
  background: url(/img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 150px;
  padding-bottom: 150px;
}

.experience-container{
  display: flex;
  padding-bottom: 150px;
}

.experience-box{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 15px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
}

#left-experience-box{
  border-left: 10px solid;
  border-image: linear-gradient(salmon,purple);
  border-image-slice: 1;
}
#right-experience-box{
  border-left: 10px solid;
  border-image: linear-gradient(blue,cyan);
  border-image-slice: 1;
}

footer p{
  text-align: center;
}